body {
  background-color: hsl(0, 0%, 70%);
  max-width: 100%;
  overflow-x: hidden;
}

.side {
  position: fixed;
  width: 430px;
  height: 102vh;
  background-color: hsl(0, 0%, 10%);
  color: hwb(0 60% 40%);
  margin-top: -9px;
  right: 0;
}

.PBR2 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 70vw;
}

.line {
  position: fixed;
  width: 300px;
  height: 2px;
  background-color: hsl(0, 0%, 40%);
  margin-top: 20vh;
  right: 50px;
}

.line-two {
  margin-top: 33vh;
}

.line-three {
  margin-top: 46vh;
}

.line-four {
  margin-top: 59vh;
}

.line-five {
  margin-top: 72vh;
}

.slogan {
  margin-top: 430px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
}

.button {
  width: 430px;
  position: absolute;
  border: none;
  background-color: hsl(0, 0%, 10%);
  color: white;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
  right: 0px;
}

.app {
  margin-top: 24vh;
}

.mis {
  margin-top: 38vh;
}

.dep {
  margin-top: 51vh;
}

.staff {
  margin-top: 64vh;
}

/* Moble */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .PBR2 {
    position: fixed;
    width: 99vw;
    margin-left: -9px;
    margin-top: -50px;
  }

  .side {
    position: absolute;
    width: 101vw;
    margin-left: -8px;
    margin-top: 550px;
    height: 120vh;
    font-size: 40px;
    right: 0;
  }

  .line {
    position: absolute;
    margin-top: 790px;
  }

  .line-two {
    margin-top: 890px;
  }

  .line-three {
    margin-top: 990px;
  }

  .line-four {
    margin-top: 1090px;
  }

  .line-five {
    margin-top: 1190px;
  }

  .slogan {
    position: fixed;
    margin-top: 450px;
    margin-left: 0px;
    width: 100vw;
    right: none;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
  }
  .button{
    width: 99vw;
    right: none;
    margin-right: 9px;
  }
  .app {
    margin-top: 825px;
  }
  .mis {
    margin-top: 925px;
  }
  .dep {
    margin-top: 1025px;
  }
  .staff {
    margin-top: 1125px;
  }

}

/* Limmit orentation */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  body {
    display: none;
  }
}