body {
  background-color: #b3b3b3;
  overflow-x: hidden;
  max-width: 100%;
}
.top {
  width: 102vw;
  background-color: black;
  height: 10vw;
  margin-left: -9px;
  margin-top: -9px;
  color: white;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 3.4vw;
}
.line {
    position: absolute;
    width: 80vw;
    height: 2px;
    margin-top: 2vw;
    background-color: white;
}
.PBR {
  margin-top: -3vw;
}

.TM {
  position: absolute;
  font-size: 1vw;
  margin-top: -4.3vw;
  margin-left: -4vw;
}

.tabs {
  color: white;
  position: absolute;
  display: flex;
  width: 102vw;
  height: 3vw;
  margin-top: 6vw;
  font-size: 1.7vw;
  margin-left: 5vw;
  border: none;
}

.tabs :hover {
  cursor: pointer;
}
.tablinks {
  color: white;
  font-size: 1.5vw;
  background-color: black;
  border: none;
  background: none;
  width: 20vw;
}

.tabs button {
    height: 4vw;
}
.tabs button.active {
  background-color: #b3b3b3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
}
.tabcontent {
  display: none;
  margin-top: 12vw;
  position: absolute;

}
.APPLICATION {
    margin-left: 5.5vw;
}
.logo img {
  width: 14.22vw;
  height: 8vw;
  margin-top: -4.5vw;
  position: absolute;
  margin-left: -92vw;
}

.HLine {
  position: absolute;
  margin-top: 4vw;
  width: 2px;
  height: 54vw;
  background-color: black;
  margin-left: 32vw;
}

.name {
  font-size: 3vw;
  margin-top: 2vw;
  width: 30vw;
  align-content: center;
  text-align: center;
}

.title {
  font-size: 3vw;
  width: 68vw;
  margin-left: 32vw;
  text-align: center;
  margin-top: -4vw;
  text-decoration: solid;
}

.staffBios {
  text-align: center;
  font-size: 2vw;
  width: 52vw;
  height: 25vw;
  margin-left: 40vw;
  margin-top: -23vw;
}
.ppf {
  text-align: center;
  width: 30vw;
}
.ppf img{
  width: 20vw;
  margin-top: 1vw;
  margin-left: auto;
  margin-right: auto;
}

.date {
  font-size: 3vw;
  width: 30vw;
  align-content: center;
  text-align: center;
}

.line2 {
  margin: auto;
  width: 95vw;
  height: 2px;
  background-color: black;
}

.BOD {
  width: 100vw;
  position: relative;
  text-align: center;
  font-size: 4vw;
}
.staff {
  position: absolute;
}