
body {
  background-color: hsl(0, 0%, 70%);
  max-width: 100%;
  overflow-x: hidden;
}

.side {
  position: fixed;
  width: 430px;
  height: 102vh;
  background-color: #223d3c;
  color: hwb(0 60% 40%);
  margin-top: -9px;
  right: 0;
}

.PBR {
  position: fixed;
  width: 500px;
  height: 500px;
  margin-left: 211px;
  overflow: hidden;
}
.line {
  position: fixed;
  width: 300px;
  height: 2px;
  background-color: hsl(0, 0%, 18%);
  margin-top:20vh;
  right: 50px;
}
.line-two {
  margin-top: 34vh;
}
.line-three {
  margin-top: 46vh;
}
.line-four {
  margin-top: 58vh;
}
.line-five {
  margin-top: 70vh;
}
.slogan {
  height: 0px;
  display: block;
  margin-top: 75vh;
  width: 940px;
  font-size: 30px;
  text-align: center;
  position: fixed;
  font-style: italic;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
}


/* Moble */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    
  }
  .PBR {
    position: fixed;
    margin-left: -65px;
    margin-top: -50px;
  }
  .side {
    position: absolute;
    width: 101vw;
    margin-left: -8px;
    margin-top: 550px;
    height: 122vh;
    background-color: #223d3c;
    color: hwb(0 60% 40%);
    font-size: 40px;
    right: 0;
  }
  .line {
    position: absolute;
    margin-top: 790px;
  }
  .line-two {
    margin-top: 890px;
  }
  .line-three {
    margin-top: 990px;
  }
  .line-four {
    margin-top: 1090px;
  }
  .line-five {
    margin-top: 1190px;
  }
  .slogan {
   position: fixed;
    margin-top: 450px;
    margin-left: 0px;
    width: 100vw;
    right: none;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
  }
}

/* Limmit orentation */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  body {
    display: none;
  }
}